@using PortalWWW.Helpers
@using static PortalWWW.Helpers.GenericCheck;
@model DatabaseAPI.Models.CMS.Newsletter;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-12">
            <h3 class="text-center text-danger">Are you sure you want to delete this?</h3>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover custom-table">
            <input asp-for="Id" type="hidden" class="form-control" ) />

            <div class="table-responsive">
                <table id="tblData" class="table table-bordered table-striped table-hover custom-table">
                    <thead>
                        <tr>
                            <th>Delete</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <tbody>
                <tr>
                    <td>
                        <strong><label asp-for="Name" class="form-label">Name</label></strong>
                    </td>
                    <td>
                        <div class="form-floating mb-3">
                            <input asp-for="Name" class="form-controlX " id="floatingInput" value="@Model.Name" readonly>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><label asp-for="Description" class="form-label">Description</label></strong>
                    </td>
                    <td>
                        <div class="form-floating mb-3">
                            <textarea asp-for="Description" class="form-controlX" id="floatingDescription" value="@Model.Description" style="height: 200px;" readonly></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><label asp-for="Content" class="form-label">Content</label></strong>
                    </td>
                    <td>
                        <div class="form-floating mb-3">
                            <textarea asp-for="Content" class="form-controlX" id="floatingDescription" value="@Model.Content" style="height: 300px;" readonly></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group mt-3 text-center">
                <button type="submit" class="btn btn-danger m-2">Delete <i class="bi bi-trash"></i></button>
                <a asp-action="Index" class="btn btn-primary m-2">   <i class="bi bi-arrow-left"></i>Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

