@{
	ViewData["Title"] = "Admin Navigation";
}

@*Our main admin navigation*@
<section id="header" class="sticky-top">
	<nav class="navbar navbar-expand-md navbar-light" >
		<div class="container">
			<div class="row w-100 align-items-center mb-3">
				<div class="col-md-6 d-flex justify-content-start align-items-center">
					<a href="/">
					<img class="logo-photo" src="~/css/photos/logo.png" alt="Logo" />
					</a>
				</div>
			</div>
			<div class="row w-100">
				<div class="col-12">
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mb-0 d-flex justify-content-center">
							<li class="nav-item active">
								<a asp-controller="Home" asp-action="Index" class="nav-link active">Home</a>
							</li>
					

							<li class="nav-item">
								<a asp-controller="Movie" asp-action="ShowScreeningsForMovie" asp-route-id="0" class="nav-link">Movies</a>
							</li>
							<li class="nav-item">
								<a asp-controller="Admin" asp-action="Index" class="nav-link">Admin</a>
							</li>
						 
 						</ul>
					</div>
				</div>
			</div>

		</div>
		<div class="row w-100 mb-3">
			<div class="col-12 d-flex justify-content-center">
				<div class="search-bar custom-search-bar">
					<form>
						<div class="input-group">
							<input type="text" class="form-control bg-black search-input" placeholder="Search ..." aria-label="Search movies" aria-describedby="button-addon2">
							<div class="input-group-append">
								<button class="btn text-white bg_red rounded-0 border-0" type="button">
									Search
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</nav>

</section>