@model DatabaseAPI.Models.General.Address;
<tr>
    <td><strong><label for="Country" class="form-label">Country</label></strong></td>
    <td>
        <div class="form-floating mb-3">
            <select asp-for="CountryId" class="form-control" asp-items="ViewBag.Country"></select>
            <span asp-validation-for="CountryId" class="text-danger"></span>
        </div>
    </td>
</tr>

