@model DatabaseAPI.Models.General.Address;
<tr>
    <td>
        <strong><label asp-for="Country.Name" class="form-label">Country</label></strong>
    </td>
    <td>
        <div class="form-floating mb-3">
            <input asp-for="Country.Name" class="form-controlX " id="floatingInput" value="@Model.Country.Name" readonly>
            <span asp-validation-for="Country.Name" class="text-danger"></span>
        </div>
    </td>
</tr>