@model IEnumerable<DatabaseAPI.Models.CMS.UsefulLink>

<div class="row mt-3">
    <ul class="col text-center">
@foreach (var item in Model)
{
            <li class="list-inline-item me-2">@Html.Raw(item.Content)</li>
}

    </ul>
</div>