@using System.Linq;
@using DatabaseAPI.Models.DictionaryModels;
@using static PortalWWW.Helpers.GenericCheck;
@model dynamic

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Type entityType = ViewData["type"] as Type;
    string entityEndpoint = ViewData["entityEndpoint"] != null ? ViewData["entityEndpoint"].ToString() : entityType.Name.ToLower();

    // Pobranie listy kolumn (bez kolekcji i Id)
    var columnList = entityType.GetProperties()
        .Where(prop => !IsGenericCollection(prop.PropertyType) && prop.Name.ToLower() != "id")
        .Select(prop => char.ToLower(prop.Name[0]) + prop.Name.Substring(1))
        .ToList();

    // Serializacja kolumn do JSON
    var columnListJson = Json.Serialize(columnList);
}

<!-- Importowanie stylów DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h4 class="text-primary">@entityType.Name Management</h4>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Create" class="btn btn-success m-2 custom-btn">
                <i class="bi bi-plus-circle"></i> Add @entityType.Name
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <table id="tblData" class="table table-bordered table-striped table-hover custom-table">
            <thead>
                <tr>
                    <th>Id</th>
                    @foreach (var column in columnList)
                    {
                        <th>@column</th>
                    }
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            loadDataTable();
        });

        function loadDataTable() {
            const modelType = "@entityEndpoint";
            dataTable = $('#tblData').DataTable({
                "ajax": { url: `/${modelType}/getall` },
                "columns": [
                    { "data": "id" },
                    { "data": "name" },
                    { "data": "isActive" },
                    { "data": "createdAt" },
                    { "data": "modifiedAt" },
                    {
                        data: 'id',
                        "render": function (data) {
                            return `<div class="test-center" >
                                            <a onClick=Delete('/${modelType}/delete?id=${data}') class="btn btn-danger btn-sm custom-btn">Delete</a>
                                            <a href="/${modelType}/details?id=${data}" class="btn btn-primary"> Details </a>
                                            <a href="/${modelType}/edit?id=${data}" class="btn btn-primary"> Edit </a>
                                            </div>`
                        }
                    });
                }
            });
        }

        function Delete(url) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: function (data) {
                            dataTable.ajax.reload();
                            Swal.fire("Deleted!", "Your record has been deleted.", "success");
                        },
                        error: function (err) {
                            Swal.fire("Error!", "Something went wrong.", "error");
                        }
                    });
                }
            });
        }

        $(document).ready(function () {
            loadDataTable();
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
}