@{
    ViewData["Title"] = "Navigation";
}

<section id="header" class="sticky-top">
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container">
            <div class="row w-100 align-items-center mb-3">
                <div class="col-md-6 d-flex justify-content-start align-items-center">
                    <a href="/">
                        <img class="logo-photo" src="~/css/photos/logo.png" alt="Logo" />
                    </a>
                </div>
            </div>
            <div class="row w-100">
                <div class="col-12">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mb-0 d-flex justify-content-center">
                            @await Component.InvokeAsync("NavbarComponent")
                            <partial name="_LoginPartial" />
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row w-100 mb-3">
            <div class="col-12 d-flex justify-content-center">
                <div class="search-bar custom-search-bar">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control text-white"
                                   placeholder="Search ..."
                                   aria-label="Search movies"
                                   style="background-color: black; height: 45px; border-radius: 25px; border: none;">

                            <button class="btn text-white" type="button"
                                    style="background-color: #d10000; height: 45px; border-radius: 25px; border: none; padding: 0 20px; margin-left: 8px;">
                                Search
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>



    </nav>
</section>
<br>
