<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MovieStar Cinema</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/global.css" rel="stylesheet">
    <link href="~/css/index.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
</head>
<body>
    @*Navigation*@
    @await Component.InvokeAsync("AdminNavigationComponent")
    @RenderBody()
    @*Footer*@
    @await Component.InvokeAsync("FooterComponent")

    <script>
        window.onscroll = function () { myFunction() };

        var navbar_sticky = document.getElementById("navbar_sticky");
        var sticky = navbar_sticky.offsetTop;
        var navbar_height = document.querySelector('.navbar').offsetHeight;

        function myFunction() {
            if (window.pageYOffset >= sticky + navbar_height) {
                navbar_sticky.classList.add("sticky")
                document.body.style.paddingTop = navbar_height + 'px';
            } else {
                navbar_sticky.classList.remove("sticky");
                document.body.style.paddingTop = '0'
            }
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
 
   @*  <div class="container">
        <div class="sidebar overflow-auto">
            <div class="sidebar-header">
                <h2>My Sidebar</h2>
            </div>
            <ul class="sidebar-menu">
                <li>
                    <a href="#" class="menu-item">
                        <i class="fas fa-home"></i> Home
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a href="#">
                        <i class="fas fa-user"></i> Movies
                    </a>

                    <ul class="submenu">
                        <li class="menu-item has-submenu">
                            <a href="#">Dictionary Models</a>
                            <ul class="submenu">
                                <li><a asp-controller="Country" asp-action="Index">Countries</a></li>
                                <li><a asp-controller="Genre" asp-action="Index">Genres</a></li>
                                <li><a asp-controller="Languages" asp-action="Index">Languages</a></li>
                                <li><a asp-controller="MovieFormat" asp-action="Index">Movie Formats</a></li>
                                <li><a asp-controller="MovieKeywords" asp-action="Index">Movie Keywords</a></li>
                                <li><a asp-controller="MovieProductionCompany" asp-action="Index">Movie Production Companies</a></li>
                                <li><a asp-controller="AgeRating" asp-action="Index">Age Ratings</a></li>
                                <li><a asp-controller="Subtitles" asp-action="Index">Subtitles</a></li>
                                <li><a asp-controller="Award" asp-action="Index">Awards</a></li>
                            </ul>
                        </li>
                        <li class="menu-item has-submenu">
                            <a href="#">Compound Models</a>
                            <ul class="submenu">
                                <li><a asp-controller="MovieAdmin" asp-action="Index">Movies</a></li>
                                <li><a asp-controller="Coupon" asp-action="Index">Coupons</a></li>
                                <li><a asp-controller="MovieReview" asp-action="Index">Movie Reviews</a></li>
                                <li><a asp-controller="Screen" asp-action="Index">Screens</a></li>
                                <li><a asp-controller="Screening" asp-action="Index">Screenings</a></li>
                                <li><a asp-controller="ScreeningSeat" asp-action="Index">Screening Seats</a></li>
                                <li><a asp-controller="Seat" asp-action="Index">Seats</a></li>
                                <li><a asp-controller="Ticket" asp-action="Index">Tickets</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="menu-item has-submenu">
                    <a href="#">
                        <i class="fas fa-user"></i> General
                    </a>
                    <ul class="submenu">
                        <li class="menu-item has-submenu">
                            <a href="#">Dictionary Models</a>
                            <ul class="submenu">
                                <li><a asp-controller="PaymentMethod" asp-action="Index">Payment Methods</a></li>
                                <li><a asp-controller="WorkPosition" asp-action="Index">Work Positions</a></li>
                            </ul>
                        </li>
                        <li class="menu-item has-submenu">
                            <a href="#">Compound Models</a>
                            <ul class="submenu">
                                <li><a asp-controller="Address" asp-action="Index">Addresses</a></li>
                                <li><a asp-controller="BankAccount" asp-action="Index">Bank Accounts</a></li>
                                <li><a asp-controller="Invoice" asp-action="Index">Invoices</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="menu-item has-submenu">
                    <a href="#">
                        <i class="fas fa-user"></i> People
                    </a>
                    <ul class="submenu">
                        <li class="menu-item has-submenu">
                            <a href="#">Dictionary Models</a>
                            <ul class="submenu">
                            </ul>
                        </li>
                        <li class="menu-item has-submenu">
                            <a href="#">Compound Models</a>
                            <ul class="submenu">
                                <li><a asp-controller="Actor" asp-action="Index">Actors</a></li>
                                <li><a asp-controller="User" asp-action="Index">Users</a></li>
                                <li><a asp-controller="Invoice" asp-action="Index">Invoices</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="menu-item has-submenu">
                    <a href="#">
                        <i class="fas fa-cog"></i> Cinema
                    </a>
                    <ul class="submenu">
                    </ul>
                </li>
                <li>
                    <a href="#" class="menu-item">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </div> *@
       