@using Microsoft.AspNetCore.Identity
@using PortalWWW.Areas.Identity.Pages.Account.Manage
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var registerTitle = User.IsInRole("Admin") ? "Account Creation" : "Register";
}
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
            @User.Identity?.Name!
        </a>
        @{
            var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
        }
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" id="profile" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a></li>
            <li><a class="dropdown-item" id="email" asp-area="Identity" asp-page="/Account/Manage/Email">Email</a></li>
            <li><a class="dropdown-item" id="change-password" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Password</a></li>
            @if (hasExternalLogins)
            {
                <li id="external-logins"><a id="external-login" class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/ExternalLogins">External logins</a></li>
            }
            <li><a class="dropdown-item" id="two-factor" asp-area="Identity" asp-page="/Account/Manage/TwoFactorAuthentication">Two-factor authentication</a></li>
            <li><a class="dropdown-item" id="personal-data" asp-area="Identity" asp-page="/Account/Manage/PersonalData">Personal data</a></li>
            <li><a class="dropdown-item" id="personal-data" asp-controller="Home" asp-action="InvoiceReportForUser">Your invoices</a></li>
            <li><a class="dropdown-item" id="personal-data" asp-controller="Home" asp-action="TicketsReportForUser">Your tickets</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout">
            <button type="submit" class="btn nav-link">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <form asp-area="Identity" asp-page="/Account/Register">
            <button class="btn nav-link">@registerTitle</button>
        </form>
    </li>
    <li class="nav-item">
        <form asp-area="Identity" asp-page="/Account/Login">
            <button class="btn nav-link">Login</button>
        </form>
    </li>
}
