@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<header>
    <h1 class="row justify-content-center text-danger">@ViewData["Title"]</h1>
    <p class="row justify-content-center text-danger">You do not have access to this resource.</p>
</header>
