@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header >
    <h3 class="text-primary" style="margin-left:60px;">@ViewData["Title"]</h3><br />
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" method="post">
                <button type="submit" class="btn btn-danger" style="margin-left:60px;">Click here to Logout</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
