@page
@model RegisterModel

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg border-0" style="background-color: #191a1d;">
                <div class="card-body p-5">
                    <h2 class="card-title text-center mb-4" style="color:white" ;>Register</h2>


                    <form id="registerForm" method="post">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">

                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="form-floating mb-3 position-relative">
                                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3 position-relative">
                                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.FirstName" class="form-control" aria-required="true" />
                                            <label asp-for="Input.FirstName">First Name</label>
                                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3 position-relative">
                                            <input asp-for="Input.MiddleName" class="form-control" aria-required="true" />
                                            <label asp-for="Input.MiddleName">Middle Name</label>
                                            <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
                                        </div>

                                        <div class="form-floating mb-3 position-relative">
                                            <input asp-for="Input.LastName" class="form-control" aria-required="true" />
                                            <label asp-for="Input.LastName">Last Name</label>
                                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3 position-relative">
                                            <input asp-for="Input.DateOfBirth" type="text" id="datepicker" class="form-control" placeholder="Select your date of birth">
                                            <label asp-for="Input.DateOfBirth">Date of Birth</label>
                                            <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.StreetName" class="form-control" aria-required="true" />
                                            <label asp-for="Input.StreetName">Street Name</label>
                                            <span asp-validation-for="Input.StreetName" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.HouseNumber" type="number" class="form-control" aria-required="true" />
                                            <label asp-for="Input.HouseNumber">House Number</label>
                                            <span asp-validation-for="Input.HouseNumber" class="text-danger"></span>
                                        </div>

                                        <div class="form-floating mb-3 position-relative">
                                            <input asp-for="Input.ApartmentNumber" type="number" class="form-control" aria-required="true" />
                                            <label asp-for="Input.ApartmentNumber">Apartment Number</label>
                                            <span asp-validation-for="Input.ApartmentNumber" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3 position-relative">
                                            <input asp-for="Input.EirCode" class="form-control" aria-required="true" />
                                            <label asp-for="Input.EirCode">EirCode</label>
                                            <span asp-validation-for="Input.EirCode" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.City" class="form-control" aria-required="true" />
                                            <label asp-for="Input.City">City</label>
                                            <span asp-validation-for="Input.City" class="text-danger"></span>
                                        </div>

                                        <div class="form-floating mb-3">

                                            <label asp-for="Input.CountryId" class="control-label">Country</label>
                                            <select asp-for="Input.CountryId" class="form-control" asp-items="Model.Countries"></select>
                                            <span asp-validation-for="Input.CountryId" class="text-danger"></span>


                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div><br />
                        <button type="submit" class="btn btn-primary btn-lg w-100" id="registerSubmit" disabled>Sign up</button>
                        <br> 
                    </form>

                    <section>
                        <h3 class="text-center" style="color:white" ;>Use another service to register.</h3>
                        <hr />
                        @{
                            if ((Model.ExternalLogins?.Count ?? 0) == 0)
                            {
                                <div>
                                    <p>
                                        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                            article
                                            about setting up this ASP.NET application to support logging in via external services
                                        </a>.
                                    </p>
                                </div>
                            }
                            else
                            {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins!)
                                            {
                                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                    </section>


                </div>

            </div>
        </div>
    </div>
</div>
<br />


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
                document.addEventListener('DOMContentLoaded', function () {
                    flatpickr("#datepicker", {
                        dateFormat: "d/m/Y", // Adjust the format to your locale
                        defaultDate: new Date(), // Optional: set a default date
                        allowInput: true,      // Allow manual input if desired
                    });
        });
    </script>
}
<partial name="_ValidationScriptsPartial" />
}
