@page
@model RegisterModel

@if (User.IsInRole("Admin"))
{
    <h1>Create an account</h1>
}
else
{
    <h1>Register</h1>
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg border-0" style="background-color: #191a1d;">
                <div class="card-body p-5">
                    <h2 class="card-title text-center mb-4" style="color:white" ;>Register</h2>


                    <form id="registerForm" method="post">
                        <hr />
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">

                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.Email" class="custom-input form-control" autocomplete="username" aria-required="true" placeholder="Email" />
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.Password" class="custom-input form-control autocomplete="new-password" aria-required="true" placeholder="Password" />
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.ConfirmPassword" class="custom-input form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.FirstName" class="custom-input form-control" autocomplete="name" aria-required="true" placeholder="Name" />
                                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.MiddleName" class="custom-input form-control" autocomplete="middle name" aria-required="true" placeholder="Middle Name" />
                                            <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.LastName" class="custom-input form-control" autocomplete="last name" aria-required="true" placeholder="Last Name" />
                                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.DateOfBirth" type="text" id="datepicker" class="custom-input form-control" placeholder="Select your date of birth">
                                            <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.StreetName" class="custom-input form-control" aria-required="true" placeholder="Street" />
                                            <span asp-validation-for="Input.StreetName" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.HouseNumber" type="number" class="custom-input form-control" aria-required="true" placeholder="House Number" />
                                            <span asp-validation-for="Input.HouseNumber" class="text-danger"></span>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.ApartmentNumber" type="number" class="custom-input form-control" aria-required="true" placeholder="Apt Number" />
                                            <span asp-validation-for="Input.ApartmentNumber" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.EirCode" class="custom-input form-control" aria-required="true" placeholder="Eir Code" />
                                            <span asp-validation-for="Input.EirCode" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.City" class="custom-input form-control" aria-required="true" placeholder="City" />
                                            <span asp-validation-for="Input.City" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <select asp-for="Input.CountryId" class="custom-input form-control" asp-items="Model.Countries">
                                                <option value="">-- Country --</option>
                                            </select>
                                            <span asp-validation-for="Input.CountryId" class="text-danger"></span>
                                        </div>
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <div class="form-group">
                                                <label asp-for="Input.RoleName" class="control-label">Role</label>
                                                <select asp-for="Input.RoleName" class="form-control" asp-items="Model.RoleList">
                                                    <option value="">-- Role --</option>
                                                </select>
                                                <span asp-validation-for="Input.RoleName" class="text-danger"></span>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div><br />


                        <button type="submit" class="btn btn-primary btn-lg w-100" id="registerSubmit">Sign up</button>
                        <br>
                    </form>
                    <br>


                    <section>
                        <h3 class="text-center" style="color:white" ;>Use another service to register.</h3>
                        <hr />
                        @{
                            if ((Model.ExternalLogins?.Count ?? 0) == 0)
                            {
                                <div>
                                    <p>
                                        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                            article
                                            about setting up this ASP.NET application to support logging in via external services
                                        </a>.
                                    </p>
                                </div>
                            }
                            else
                            {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins!)
                                            {
                                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                    </section>

                </div>

            </div>
        </div>

    </div>

</div>
<br />


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            flatpickr("#datepicker", {
                dateFormat: "d/m/Y", // Adjust the format to your locale
                defaultDate: new Date(), // Optional: set a default date
                allowInput: true,      // Allow manual input if desired
            });
        });
    </script>

}
<partial name="_ValidationScriptsPartial" />
