@{
    ViewData["Title"] = "Footer";
}

<section id="footer_b" class="pt-3 pb-3 bg_grey">
    <div class="footer_m clearfix">
        <div class="container">
            <div class="row footer_1">
                <div class="col-md-4">
                    <div class="footer_1i">
                        @await Component.InvokeAsync("ContactInformationComponent")
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer_1i">
                        <h4>Flickr <span class="col_red">Stream</span></h4>
                        <div class="footer_1i1 row mt-4">
                            <div class="col-md-3 col-3">
                                <div class="footer_1i1i">
                                    <div class="grid clearfix">
                                        <figure class="effect-jazz mb-0">
                                            <a href="#"><img src="img/4.jpg" height="70" class="w-100" alt="abc"></a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-3">
                                <div class="footer_1i1i">
                                    <div class="grid clearfix">
                                        <figure class="effect-jazz mb-0">
                                            <a href="#"><img src="img/5.jpg" height="70" class="w-100" alt="abc"></a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-3">
                                <div class="footer_1i1i">
                                    <div class="grid clearfix">
                                        <figure class="effect-jazz mb-0">
                                            <a href="#"><img src="img/6.jpg" height="70" class="w-100" alt="abc"></a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-3">
                                <div class="footer_1i1i">
                                    <div class="grid clearfix">
                                        <figure class="effect-jazz mb-0">
                                            <a href="#"><img src="img/7.jpg" height="70" class="w-100" alt="abc"></a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer_1i1 row mt-3">
                            <div class="col-md-3 col-3">
                                <div class="footer_1i1i">
                                    <div class="grid clearfix">
                                        <figure class="effect-jazz mb-0">
                                            <a href="#"><img src="img/8.jpg" height="70" class="w-100" alt="abc"></a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-3">
                                <div class="footer_1i1i">
                                    <div class="grid clearfix">
                                        <figure class="effect-jazz mb-0">
                                            <a href="#"><img src="img/9.jpg" height="70" class="w-100" alt="abc"></a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-3">
                                <div class="footer_1i1i">
                                    <div class="grid clearfix">
                                        <figure class="effect-jazz mb-0">
                                            <a href="#"><img src="img/10.jpg" height="70" class="w-100" alt="abc"></a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-3">
                                <div class="footer_1i1i">
                                    <div class="grid clearfix">
                                        <figure class="effect-jazz mb-0">
                                            <a href="#"><img src="img/11.jpg" height="70" class="w-100" alt="abc"></a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer_1i">
                        <h4>Sign  <span class="col_red">Newsletter</span></h4>
                        <p class="mt-3">Subscribe to our newsletter list to get latest news and updates from us</p>
                        <div class="input-group">
                            <input type="text" class="form-control bg-black" placeholder="Email">
                            <span class="input-group-btn">
                                <button class="btn btn text-white bg_red rounded-0 border-0" type="button">
                                    Subscribe
                                </button>
                            </span>
                        </div>
                        <ul class="social-network social-circle mb-0 mt-4" style="display: flex; justify-content: center; padding: 0; list-style: none;">
                            <li class="list-inline-item">
                                <a href="#" class="icoInstagram" title="Instagram" style="display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; border-radius: 50%; background-color: #E4405F; color: white; text-decoration: none;">
                                    <i class="bi bi-instagram" style="font-size: 20px;"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="icoFacebook" title="Facebook" style="display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; border-radius: 50%; background-color: #3b5998; color: white; text-decoration: none;">
                                    <i class="bi bi-facebook" style="font-size: 20px;"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="icoTwitter" title="Twitter" style="display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; border-radius: 50%; background-color: #1DA1F2; color: white; text-decoration: none;">
                                    <i class="bi bi-twitter" style="font-size: 20px;"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="icoYouTube" title="YouTube" style="display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; border-radius: 50%; background-color: #FF0000; color: white; text-decoration: none;">
                                    <i class="bi bi-youtube" style="font-size: 20px;"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="icoLinkedin" title="LinkedIn" style="display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; border-radius: 50%; background-color: #0077B5; color: white; text-decoration: none;">
                                    <i class="bi bi-linkedin" style="font-size: 20px;"></i>
                                </a>
                            </li>
                        </ul>


                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <ul class="col text-center">
                <li class="list-inline-item me-2"><a href="#">Home</a></li>
                <li class="list-inline-item me-2"><a href="#">Features</a></li>
                <li class="list-inline-item me-2"><a href="#">Pages</a></li>
                <li class="list-inline-item me-2"><a href="#">Portfolio</a></li>
                <li class="list-inline-item me-2"><a href="#">Blog</a></li>
                <li class="list-inline-item"><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <p class="mb-0 footer-text" style="color: white;">© 2024 MovieStar Cinema. All rights reserved. Design by <a class="col_red" href="http://www.templateonweb.com">Bartosz Waśko</a></p>
            </div>
        </div>
    </div>
</section>