@{
    ViewData["Title"] = "Footer";
}

<section id="footer_b" class="pt-3 pb-3 bg_grey">
    <div class="footer_m clearfix">
        <div class="container">
            <div class="row footer_1">
                <div class="col-md-4">
                    <div class="footer_1i">
                        @await Component.InvokeAsync("ContactInformationComponent")
                    </div>
                </div>
                <div class="col-md-4 ms-auto text-end">
                    <!-- Przesunięcie tylko NewsletterComponent na prawo -->
                    <div class="footer_1i">
                        @await Component.InvokeAsync("NewsletterComponent")
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer_1i">
                        @await Component.InvokeAsync("FooterIconComponent")
                    </div>
                </div>
            </div>
        </div>

        @await Component.InvokeAsync("UsefulLinkComponent")

        <div class="row mt-3">
            <div class="col text-center">
                @await Component.InvokeAsync("BottombarComponent")
            </div>
        </div>
    </div>
</section>
