* {
    box-sizing: border-box;
}

* {
    user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}

::selection {
    background: transparent;
    color: inherit;
}

::-moz-selection {
    background: transparent;
    color: inherit;
}

.screening {
    font-family: 'Lato', 'sans-serif';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    margin: 0;
    padding: 50px 0 100px 0;
}

.movie-container label {
    margin-right: 10px;
    font-weight: 700;
    font-size: 15px;
}

.movie-container select {
    padding: 5px;
    border-radius: 4px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 14px;
}

.showcase {
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 15px 30px;
    background-color: darkslateblue;
    list-style: none;
    font-weight: 500;
    margin: 20px 0;
    color: #777;
    width: 400px;
}

    .showcase li {
        display: flex;
        align-items: center;
        gap: 8px;
        min-width: 100px;
    }

        .showcase li small {
            white-space: nowrap;
        }

.seat {
    position: relative;
    height: 25px;
    width: 25px;
    background-color: #777;
    display: inline-block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    line-height: 25px;
    font-size: 10px;
    color: white;
    font-weight: bold;
}

    .seat.selected {
        background-color: rgb(115, 115, 253);
    }

    .seat.occupied {
        background-color: #fff;
        color: black;
    }


.seat-label {
    position: center;
    top: 25%;
    left: 25%;
    font-size: 6px;
    font-weight: bold;
    color: black;
    pointer-events: none;
}

.screening-container {
    width: 100%;
    max-width: 1000px;
    perspective: 1000px;
    padding: 50px;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

    .screening-container .screen {
        width: 100%;
        height: 90px;
        background-color: #fff;
        transform: rotateX(-45deg);
        box-shadow: 0px 0px 7px 0px rgba(255, 255, 255, 1);
        margin: 30px 0;
        position: relative;
        z-index: 0;
    }

.row .seat:nth-of-type(2) {
    margin-right: 10px;
}

.row .seat:nth-last-of-type(2) {
    margin-left: 10px;
}

.container .seat {
    margin-left: 2px;
}

    .container .seat:not(.occupied):hover {
        transform: scale(1.2);
        cursor: pointer;
    }

.text span {
    color: rgb(115, 115, 253);
}

.screening-info {
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
}
