@using PortalWWW.Helpers
@using static PortalWWW.Helpers.GenericCheck;
@model PortalWWW.Models.UserViewModel
@{
    ViewData["Title"] = "Edit User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h4 class="text-primary">Edit User</h4>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Index" class="btn btn-primary m-2 custom-btn">
                <i class="bi bi-arrow-left"></i>
                Back to List
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <form asp-action="EditConfirmed" method="post">
            <table class="table table-bordered table-striped table-hover custom-table">
                <input asp-for="Id" type="hidden" />

                <div class="table-responsive">
                    <table id="tblData" class="table table-bordered table-striped table-hover custom-table">
                        <thead>
                            <tr>
                                <th>Edit</th>

                            </tr>
                        </thead>
                    </table>
                </div>
                <tbody>
                    <tr>
                        <td>
                            <strong><label asp-for="Email" class="form-label">Email</label></strong>
                        </td>
                        <td>
                            <div class="form-floating mb-3">
                                <input asp-for="Email" class="form-control" id="floatingInput" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td><strong><label asp-for="FirstName" class="form-label">First Name</label></strong></td>
                        <td>
                            <div class="form-floating mb-3">
                                <input asp-for="FirstName" class="form-control" id="floatingInput" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><strong><label asp-for="MiddleName" class="form-label">Middle Name</label></strong></td>
                        <td>
                            <div class="form-floating mb-3">
                                <input asp-for="MiddleName" class="form-control" id="floatingInput" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><strong><label asp-for="LastName" class="form-label">Last Name</label></strong></td>

                        <td>
                            <div class="form-floating mb-3">
                                <input asp-for="LastName" class="form-control" id="floatingInput" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><strong><label asp-for="DateOfBirth" class="form-label">Date of Birth</label></strong></td>

                        <td>
                            <div class="form-floating mb-3">
                                <input asp-for="DateOfBirth" type="date" class="form-control" id="floatingInput" />
                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><strong><label asp-for="StreetName" class="form-label">Street Name</label></strong></td>

                        <td>
                            <div class="form-floating mb-3">
                                <input asp-for="StreetName" class="form-control" id="floatingInput" />
                                <span asp-validation-for="StreetName" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><strong><label asp-for="HouseNumber" class="form-label">House Number</label></strong></td>

                        <td>
                            <div class="form-floating mb-3">
                                <input asp-for="HouseNumber" type="number" class="form-control" id="floatingInput" />
                                <span asp-validation-for="HouseNumber" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><strong><label asp-for="ApartmentNumber" class="form-label">Apartment Number</label></strong></td>

                        <td>
                            <div class="form-floating mb-3">
                                <input asp-for="ApartmentNumber" type="number" class="form-control" id="floatingInput" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><strong><label asp-for="EirCode" class="form-label">EirCode</label></strong></td>

                        <td>
                            <div class="form-floating mb-3">
                                <input asp-for="EirCode" class="form-control" id="floatingInput" />
                                <span asp-validation-for="EirCode" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><strong><label asp-for="City" class="form-label">City</label></strong></td>

                        <td>
                            <div class="form-floating mb-3">
                                <input asp-for="City" class="form-control" id="floatingInput" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><strong><label asp-for="CountryId" class="form-label">Country</label></strong></td>

                        <td>
                            <div class="form-floating mb-3">
                                <select asp-for="CountryId" id="floatingInput" class="form-control" asp-items="ViewBag.Countries"></select>
                                <span asp-validation-for="CountryId" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="form-group mt-3">
                <input type="submit" value="Update" class="btn btn-success m-2 custom-btn" />
            </div>
        </form>
    </div>

