@using PortalWWW.Helpers
@using static PortalWWW.Helpers.GenericCheck;
@model RoleManagementVM;

@{
    ViewData["Title"] = "Role Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h4 class="text-primary">Manage Role</h4>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Index" class="btn btn-primary m-2">
                <i class="bi bi-arrow-left"></i> Back to List
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <form method="post">
            <input asp-for="User.Id" hidden />
            <table class="table table-bordered table-striped table-hover custom-table">
                <div class="table-responsive">
                    <table id="tblData" class="table table-bordered table-striped table-hover custom-table">
                        <thead>
                            <tr>
                                <th>Role Management</th>

                            </tr>
                        </thead>
                    </table>
                </div>

 
                <tbody>
                    <tr>
                        <td>
                            <label asp-for="User.FirstName" class="form-label">First Name</label>
                        </td>
                        <td>
                            <div class="form-floating mb-3">
                                <input asp-for="User.FirstName" readonly class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="User.LastName" class="form-label">Last Name</label>
                        </td>
                        <td>
                            <div class="form-floating mb-3">
                                <input asp-for="User.LastName" readonly class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="User.Role" class="form-label">Role</label>
                        </td>
                        <td>
                            <div class="form-floating mb-3">
                                <select asp-for="User.Role" class="form-control" asp-items="@Model.RoleList"></select>
                                <span asp-validation-for="User.Role" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="form-group mt-3">
                <input type="submit" value="Update Role" class="btn btn-success m-2" />
            </div>
        </form>
    </div>
</div>
