@model DatabaseAPI.Models.CinemaMovie.ScreeningSeat;

<tr>
    <td>
        <strong><label asp-for="Screening.Name" class="form-label">Screening</label></strong>
    </td>
    <td>
        <div class="form-floating mb-3">
            <input asp-for="Screening.Name" class="form-controlX " id="floatingInput" value="@Model.Screening.Movie.Name" readonly>
            <span asp-validation-for="Screening.Name" class="text-danger"></span>
        </div>
    </td>
</tr>