@model DatabaseAPI.Models.CinemaMovie.ScreeningSeat;

<tr>
    <td><strong><label for="Screening" class="form-label">Screening</label></strong></td>
    <td>
        <div class="form-floating mb-3">
            <select asp-for="ScreeningId" class="form-control" asp-items="ViewBag.Screening"></select>
            <span asp-validation-for="ScreeningId" class="text-danger"></span>
        </div>
    </td>
</tr>