@{
    ViewData["Title"] = "Chart";
}
<div class="container datepicker-controls">
    <form asp-action="MoviesGenerator" asp-controller="Report">
        <div class="form-group">
            <label class="control-label">Data początkowa</label>
            <input type="date" name="start" />
            <label class="control-label">Data końcowa</label>
            <input type="date" name="end" />
            <input type="submit" value="Wybierz daty" class="btn btn-primary black white-text" />
        </div>
    </form>
</div>
<div class="container md">
    <canvas id="myChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chartData = @Html.Raw(Json.Serialize(Model));

    new Chart(ctx, {
        type: 'doughnut',
        data: chartData,
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>