@model IEnumerable<DatabaseAPI.Models.CMS.Navbar>

@{
    var currentController = ViewContext?.RouteData?.Values["controller"]?.ToString() ?? String.Empty;
    var currentAction = ViewContext?.RouteData?.Values["action"]?.ToString() ?? String.Empty;
}

@foreach (var item in Model)
{
    if (item.Position == 1)
    {
        <li class="nav-item">
            <a href="/" class="nav-link active)"> </a>
        </li>
    }
    <li class="nav-item">
        <a asp-controller="@item.Controller" asp-action="@item.Action" class="nav-link  @(currentController == item.Controller && currentAction == item.Action ? "active" : "")">@item.Content</a>
    </li>
}
