@{
    ViewData["Title"] = "Contact Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="py-5">
    <div class="container">
        <h2 class="mb-4 text-center text-light">📍 Contact Information</h2>
        <div class="row align-items-stretch">
            <!-- Sekcja informacji kontaktowych -->
            <div class="col-lg-6 d-flex">
                <div class="bg-dark text-white p-4 rounded shadow w-100">
                    @await Component.InvokeAsync("ContactInformationComponent")

                    @await Component.InvokeAsync("OpeningHourComponent")
                </div>
            </div>

            <!-- Formularz kontaktowy -->
            <div class="col-lg-6 d-flex">
                <div class="bg-dark p-4 rounded shadow w-100">
                    @await Component.InvokeAsync("CustomerQueryComponent")
                </div>
            </div>
        </div>
    </div>      
</section>



<!-- Sekcja z mapą -->
<section class="py-5 bg-dark text-white">
    <div class="container">
        <h2 class="mb-4 text-center">📍 Our Location</h2>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="ratio ratio-16x9 shadow rounded">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2433.546477206132!2d21.020051815899067!3d52.229675779759585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc6aab8c9fbb%3A0x41214d11cfd1287c!2sWarsaw%2C%20Poland!5e0!3m2!1sen!2sen!4v1631792812715!5m2!1sen!2sen"
                            width="600" height="450" style="border:0;" allowfullscreen loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

@await Component.InvokeAsync("BottomMovieComponent")
