@using System.Linq;
@using DatabaseAPI.Models.DictionaryModels;
@using static PortalWWW.Helpers.GenericCheck;
@{
    ViewData["Title"] = "Invoices Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Importowanie stylów DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h3 class="text-primary">Invoices</h3>
        </div>
    </div>

    <form asp-action="InvoiceReportForUser" asp-controller="Home" method="get">
        <div class="row mb-3">
            <div class="col-md-3">
                <label class="control-label">Start Date</label>
                <input type="date" name="start" class="form-control" />
            </div>
            <div class="col-md-3">
                <label class="control-label">End Date</label>
                <input type="date" name="end" class="form-control" />
            </div>
            <div class="col-md-3">
                <label class="control-label">Payment Status</label>
                <select name="mode" class="form-control" asp-items="ViewBag.PaymentStatuses">
                    <option value="">-- Payment status --</option>
                    <option value="">All statuses</option>
                </select>
            </div>
            <div class="col-md-3 d-flex align-items-end">
                <input type="submit" value="Regenerate" class="btn btn-primary w-100" />
            </div>
        </div>
    </form>
    <br> 
    <div class="table-responsive">
        <table id="tblData" class="table table-bordered table-striped table-hover custom-table">
            <thead>
                <tr>
                    <th>Invoice ID</th>
                    <th>Cost</th>
                    <th>Payment Method</th>
                    <th>Payment Status</th>
                    <th>Order Status</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script>
        var startDate = '@(ViewData["startDate"] != null ? Convert.ToDateTime(ViewData["startDate"]).ToString("yyyy-MM-dd") : "")';
        var endDate = '@(ViewData["endDate"] != null ? Convert.ToDateTime(ViewData["endDate"]).ToString("yyyy-MM-dd") : "")';
        var paymentMethod = '@(ViewData["paymentMethod"])';
        $(document).ready(function () {
            loadDataTable(startDate, endDate, paymentMethod);
        });

        function loadDataTable(startDate, endDate, paymentMethod) {
            dataTable = $('#tblData').DataTable({
                "ajax": {
                    url: '/GetAllInvoicesForUser',
                    type: 'POST',
                    data: {
                        start: startDate,
                        end: endDate,
                        mode: paymentMethod
                    }
                },
                "columns": [
                    { "data": "invoiceId" },
                    { "data": "totalSum" },
                    { "data": "paymentMethod.name" },
                    { "data": "paymentStatus" },
                    { "data": "orderStatus" }
                ]
            })
        }
    </script>
}