@model IEnumerable<DatabaseAPI.Models.CinemaMovie.Movie>

@{
    ViewData["Title"] = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    <!-- Include jQuery and jQuery UI libraries at the top -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"
            integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY="
            crossorigin="anonymous"></script>
    <!-- JavaScript code to initialize datepicker -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            flatpickr("#datepicker", {
                dateFormat: "d/m/Y", // Adjust the format to your locale
                defaultDate: new Date(), // Optional: set a default date
                allowInput: true,      // Allow manual input if desired
            });
        });
    </script>
}
<section class="hero">
    <div class="container">
        <div class="row">

            <div class="col-md-6 align-items-center">
                <h2>Movies played on Date</h2>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="latest-news text-center">
        <form asp-controller="Movie" asp-action="ChooseMovieBasedOnDate" method="post"
              class="d-flex align-items-center justify-content-center gap-2">
            <label class="custom-label" for="datepicker">Select a Date for the Movie:</label>
            <input type="text" id="datepicker" name="selectedDate" style="background-color: white; height:40px;">
            <button type="submit" class="btn custom-button">Choose a date</button>
        </form>
    </div>
</div>


@* Choice of top 3 movies
    I'll need to change to pick not the first 3 added movies, but top 3 movies based on some order
 *@
<div class="cointainer">
    @await Component.InvokeAsync("ChooseAMovieComponent")
</div>




