@model DatabaseAPI.Models.CinemaMovie.Ticket;

<tr>
    <td>
        <strong><label asp-for="ScreeningSeat.Name" class="form-label">Screening Seat</label></strong>
    </td>
    <td>
        <div class="form-floating mb-3">
            <input asp-for="ScreeningSeat.Name" class="form-controlX " id="floatingInput" value="@Model.ScreeningSeat.Name" readonly>
            <span asp-validation-for="ScreeningSeat.Name" class="text-danger"></span>
        </div>
    </td>
</tr>
<tr>
    <td>
        <strong><label asp-for="Invoice.Id" class="form-label">Invoice</label></strong>
    </td>
    <td>
        <div class="form-floating mb-3">
            <input asp-for="Invoice.Id" class="form-controlX " id="floatingInput" value="@Model.Invoice.Id" readonly>
            <span asp-validation-for="Invoice.Id" class="text-danger"></span>
        </div>
    </td>
</tr>