@model DatabaseAPI.Models.CinemaMovie.Ticket;

<tr>
    <td><strong><label for="Invoice" class="form-label">Invoice</label></strong></td>
    <td>
        <div class="form-floating mb-3">
            <select asp-for="InvoiceId" class="form-control" asp-items="ViewBag.Invoice"></select>
            <span asp-validation-for="InvoiceId" class="text-danger"></span>
        </div>
    </td>
</tr>
<tr>
    <td><strong><label for="ScreeningSeat" class="form-label">Screening Seat</label></strong></td>
    <td>
        <div class="form-floating mb-3">
            <select asp-for="ScreeningSeatId" class="form-control" asp-items="ViewBag.ScreeningSeat"></select>
            <span asp-validation-for="ScreeningSeatId" class="text-danger"></span>
        </div>
    </td>
</tr>